@charset "UTF-8";
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: peru;
}

.container {
  max-width: 1360px;
}

header {
  height: 107px;
  background-color: #238AC2;
}

.bg-top {
  height: 614px;
  background-image: url("../assets/Grupo 218.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #656565;
}
.bg-top div.text-center img:first-child {
  padding-left: 100px;
}
.bg-top h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
.bg-top p {
  width: 530px;
  font-weight: lighter;
}
.bg-top p:nth-child(2) {
  font-size: 0.8rem;
}
.bg-top p:nth-child(3) {
  margin-bottom: 40px;
}
.bg-top p:nth-child(4) {
  margin-left: -10px;
}

.fa-star {
  color: #FFD600;
}

.gray {
  color: #CED4DA;
}

.beneficios {
  height: 666px;
  background-image: url("../assets/bg-02.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #656565;
}
.beneficios h2 {
  margin-bottom: 20px;
}
.beneficios .light {
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 200;
  text-transform: uppercase;
}
.beneficios .col {
  padding-left: 214px;
}
.beneficios ul {
  padding: 0;
  margin: 0;
}
.beneficios li {
  font-size: 1.2rem;
  line-height: 1.4rem;
  list-style: none;
  margin-bottom: 20px;
  padding-left: 28px;
  position: relative;
}
.beneficios li::before {
  content: "⬡";
  width: 1.5rem;
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
  width: 20px;
  height: 20px;
  top: 0px;
  position: absolute;
  left: 0;
}

.resultados {
  min-height: 766px;
  background-image: url("../assets/bg-03.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-transform: uppercase;
  color: #FFFFFF;
}
.resultados .col-6 {
  padding-left: 10%;
  margin-top: 140px;
}
.resultados .col-6:nth-child(3) {
  padding-left: 20%;
}
.resultados .col-12:nth-child(4) p {
  display: inline-block;
  padding: 0 10px;
  margin-top: 100px;
  font-size: 0.8rem;
}
.resultados .btn {
  width: 178px;
  height: 50px;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: -10px;
}
.resultados a {
  color: #FFFFFF;
}
.resultados h2 {
  font-size: 2rem;
}
.resultados .bold {
  font-weight: 700;
  padding-top: 30px;
}
.resultados .light {
  font-weight: 300;
}
.resultados .percent-row {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.resultados .percent-row .percent {
  font-size: 2rem;
  font-weight: 600;
  padding: 0 20px;
  width: 118px;
  background: url("../assets/icones/percent-border.svg") no-repeat left bottom;
}
.resultados .percent-row div:nth-child(2) {
  line-height: 1.3rem;
  font-size: 1.3rem;
}
.resultados .percent-row .bold {
  padding-top: 0;
}

.alternativa {
  min-height: 800px;
  background-image: url("../assets/bg-04.png");
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  color: #656565;
}
.alternativa h2 {
  margin-bottom: 20px;
}
.alternativa p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4rem;
}
.alternativa .light {
  font-size: 45px;
  line-height: 3rem;
  font-weight: 300;
  text-transform: uppercase;
}
.alternativa .col {
  padding-right: 150px;
  margin-left: -110px;
}
.alternativa .destaque {
  font-size: 25px;
  font-weight: 700;
  color: #92623B;
  line-height: 1.5rem;
  margin: 40px 0;
}

#maxima {
  background-image: url("../assets/bg-square-transparent.png"), url("../assets/bg-top-degrade.png");
}
#maxima h2 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #656565;
  padding: 80px 0;
  text-align: center;
}
#maxima h2 span {
  font-weight: 300;
}

.zig-zag {
  background-image: url("../assets/bg-square-transparent.png"), url("../assets/bg-bottom-degrade.png");
  background-repeat: repeat-y;
}
.zig-zag .tiny-text {
  position: relative;
  background-color: #F9F9F9;
  height: 357px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -138px;
  color: #656565;
}
.zig-zag .tiny-text h3 {
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 2.3rem;
  margin-bottom: 20px;
  padding-left: 60px;
}
.zig-zag .tiny-text p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #565656;
  line-height: 1.5rem;
  max-width: 512px;
  padding-left: 60px;
}
.zig-zag .tiny-text:nth-child(1) p:nth-child(2) {
  width: 582px;
  padding-left: 140px;
}
.zig-zag .tiny-text:nth-child(1) h3:nth-child(1) {
  width: 582px;
  padding-left: 140px;
}
.zig-zag .tiny-text #vitac-desc {
  margin-top: 0;
}
.zig-zag div.large-image {
  height: 636px;
  margin-top: -138px;
}
.zig-zag #vitac {
  margin-top: 0;
  background: url("../assets/shutterstock_747318274.png") no-repeat center center;
  background-size: cover;
}
.zig-zag #arbutin {
  background: url("../assets/shutterstock_716948296.png") no-repeat center center;
  background-size: cover;
}
.zig-zag #niacinamida {
  background: url("../assets/shutterstock_1640775646.png") no-repeat center center;
  background-size: cover;
}
.zig-zag #kojico {
  background: url("../assets/Mushroom-Beauty_Hero.png") no-repeat center center;
  background-size: cover;
}
.zig-zag #skin {
  background: url("../assets/shutterstock_1745446805.png") no-repeat center center;
  background-size: cover;
}
.zig-zag #ceramida {
  background: url("../assets/shutterstock_421957195.png") no-repeat center center;
  background-size: cover;
}
.zig-zag #glicolico {
  background: url("../assets/shutterstock_507446341.png") no-repeat center center;
  background-size: cover;
}
.zig-zag #salicilico {
  background: url("../assets/shutterstock_631708091.png") no-repeat center center;
  background-size: cover;
  margin-bottom: 200px;
}
.zig-zag div.tiny-text:nth-child(1):after {
  position: absolute;
  width: 886px;
  height: 357px;
  content: "";
  background-color: transparent;
  border: 8px solid #F9F9F9;
  top: 0;
  left: 140px;
  z-index: 2;
}
.zig-zag div.tiny-text:nth-child(2):after {
  position: absolute;
  width: 886px;
  height: 357px;
  content: "";
  background-color: transparent;
  border: 8px solid #F9F9F9;
  top: 0;
  right: 140px;
  z-index: 2;
}
.zig-zag div:last-child .tiny-text:first-child {
  margin-top: -335px;
}

.axilas {
  height: 437px;
  background-image: url("../assets/Retângulo 196.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #FFFFFF;
}
.axilas img {
  position: absolute;
  bottom: -218px;
}
.axilas h2 {
  margin-bottom: 20px;
}
.axilas .light {
  font-size: 3.5rem;
  font-weight: 200;
  text-transform: uppercase;
}
.axilas .col {
  padding-right: 100px;
}
.axilas p {
  font-size: 1.1rem;
}
.axilas .btn {
  width: 178px;
  height: 50px;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
}
.axilas a {
  color: #FFFFFF;
}

.dia-e-noite {
  height: 666px;
  background-image: url("../assets/bg-07.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.dia-e-noite .bold {
  font-size: 3rem;
  color: #496E84;
  font-weight: 700;
  text-transform: uppercase;
}
.dia-e-noite .light {
  font-weight: 200;
}
.dia-e-noite p {
  color: #496E84;
  font-size: 1.1rem;
}
.dia-e-noite .col {
  padding-left: 150px;
}
.dia-e-noite .btn {
  width: 178px;
  height: 50px;
  border: 2px solid #496E84;
  background-color: transparent;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
}
.dia-e-noite a {
  color: #496E84;
}

.uso {
  position: relative;
  padding: 40px;
  background-image: url("../assets/bg-bottom-degrade.png"), url("../assets/bg-top-degrade.png");
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 100%;
  margin-bottom: 170px;
}
.uso .bold {
  font-size: 4rem;
  line-height: 4rem;
  color: #AB896D;
  font-weight: 700;
  text-transform: uppercase;
}
.uso .bold:first-child {
  padding-top: 100px;
}
.uso .light {
  font-weight: 200;
}
.uso .simples {
  font-size: 3rem;
  padding-left: 114px;
  padding-bottom: 30px;
  margin-top: 20px;
}
.uso .uso-content {
  height: 887px;
  background-image: url("../assets/Grupo 339.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.uso .como-usar {
  height: 529px;
}
.uso .bem-simples {
  height: 358px;
}
.uso .bem-simples .icone {
  text-align: center;
  padding: 0;
  justify-content: space-between;
}
.uso .bem-simples .icone:nth-child(2) img {
  margin-top: -26px;
}
.uso .bem-simples .icone p {
  font-weight: bold;
  text-transform: uppercase;
  color: #AB896D;
  margin-top: 10px;
}
.uso .btn {
  width: 538px;
  height: 70px;
  border: 2px solid #AB896D;
  background-color: transparent;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  margin-top: -60px;
}
.uso a {
  padding-top: 10px;
  color: #AB896D;
}

.selos {
  min-height: 348px;
  padding: 50px 10px;
  background-color: #AB896D;
  font-weight: 600;
  color: #FFFFFF;
  text-transform: uppercase;
}
.selos .col ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1030px;
  margin: 0 auto;
}
.selos ul, .selos li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.selos li {
  display: inline-block;
  width: 196px;
}
.selos p {
  margin-top: 12px;
  line-height: 1.2rem;
}

.descricao img {
  width: 100%;
}

footer img {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
